<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Pet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Pet Management System</a>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Create New Pet</h1>
            <div class="card-body">
                <form th:action="@{/pets}" th:object="${pet}" method="POST">
                    <div class="form-group mb-3">
                        <label>Pet Organization</label>
                        <input type="text" name="organization" th:field="*{organization}" class="form-control" placeholder="Enter Pet Organization"/>
                        <div class="text-danger" th:if="${#fields.hasErrors('organization')}" th:errors="*{organization}">Organization Error</div>
                    </div>

                    <div class="form-group mb-3">
                        <label>Pet Kind</label>
                        <input type="text" name="kind" th:field="*{kind}" class="form-control" placeholder="Enter Pet Kind"/>
                        <div class="text-danger" th:if="${#fields.hasErrors('kind')}" th:errors="*{kind}">Kind Error</div>
                    </div>

                    <div class="form-group mb-3">
                        <label>Pet Age</label>
                        <input type="number" name="age" th:field="*{age}" class="form-control" placeholder="Enter Pet Age"/>
                        <div class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
                    </div>

                    <div class="form-group mb-3">
                        <label>Pet Sex</label>
                        <select name="sex" th:field="*{sex}" class="form-control">
                            <option value="" disabled selected>Select Pet Sex</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                        <div class="text-danger" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}">Sex Error</div>
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>

