<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Create New Pet</title>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Pet Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/pets}">Pet Management</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Create New Pet</h1>
            <div class="card-body">
                <form th:action="@{/pets}" th:object="${pet}" method="POST">
                    <div class="form-group mb-3">
                        <label>Pet Organization</label>
                        <input
                                type="text"
                                name="organization"
                                th:field="*{organization}"
                                class="form-control"
                                placeholder="Enter Pet Organization"
                        />
                    </div>

                    <div class="form-group mb-3">
                        <label>Pet Kind</label>
                        <input
                                type="text"
                                name="kind"
                                th:field="*{kind}"
                                class="form-control"
                                placeholder="Enter Pet Kind"
                        />
                    </div>

                    <div class="form-group mb-3">
                        <label>Pet Age</label>
                        <input
                                type="number"
                                name="age"
                                th:field="*{age}"
                                class="form-control"
                                placeholder="Enter Pet Age"
                        />
                    </div>

                    <div class="form-group mb-3">
                        <label>Pet Sex</label>
                        <input
                                type="text"
                                name="sex"
                                th:field="*{sex}"
                                class="form-control"
                                placeholder="Enter Pet Sex"
                        />
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
