<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Головна сторінка</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4" th:text="${title}">Головна сторінка</h1>
        <p class="lead" th:text="${description}">Ласкаво просимо на нашу головну сторінку!</p>
        <hr class="my-4">
        <p>Це приклад простої головної сторінки.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Дізнатися більше</a>
        <a class="btn btn-secondary btn-lg" href="#" role="button">Контакти</a>
    </div>
</div>
</body>
</html>
