<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Managment System </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../static/main.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <span class="navbar-brand mb-0 h1">Adoption Pet</span>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLinkAdd" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Add
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkAdd">
                        <li><a class="dropdown-item" th:href="@{/users/new}">Add user</a></li>
                        <li><a class="dropdown-item" th:href="@{/pets/new}">Add pet</a></li>
                        <li><a class="dropdown-item" th:href="@{/adoption-requests/create}">Add adoption</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLinkList" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        List
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkList">
                        <li><a class="dropdown-item" th:href="@{/users}">List user</a></li>
                        <li><a class="dropdown-item" th:href="@{/pets}">List pet</a></li>
                        <li><a class="dropdown-item" th:href="@{/adoption-requests}">List of adoption Requests</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container">
        <div class="row">
            <h1>List Users</h1>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <a th:href="@{/users/new}" class="btn btn-primary  mb-3">Add</a>
            </div>
        </div>
        <table class="table table-striped">
            <thead class="table-dark">
            <tr>
                <th> User First Name</th>
                <th> User Last Name</th>
                <th> User Email</th>
                <th> Action</th>
            </tr>
            </thead>

            <tbody>

                <tr th:each="user: ${users}">
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.email}"></td>
                    <td>
                        <a th:href = "@{/users/edit/{id}(id=${user.id})}"
                           class = "btn btn-primary">Update</a>

                        <a th:href = "@{/users/{id}(id=${user.id})}"
                           class = "btn btn-danger">Delete</a>
                </tr>
            </tbody>
        </table>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>